@mixin block( $width, $height, $padding, $borderRadius, $backgroundColor ) {
  width: $width;
  height: $height;
  padding: $padding;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
}
@mixin textBlock( $fontSize, $lineHeight, $color, $fontStyle,  $fontWeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-family: 'Raleway', sans-serif;
}
/*@mixin input($width, $height,){
  width: $width;
  height: $height;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}*/
/*  padding-right: $paddingRight;
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;*/
  